<form *ngIf="!confirmation">
  <div class="form-group" name="donation">
    <label for="amount">Amount: ${{ amount }}</label><br>
    <input type="number" class="form-control" min="10" name="amount" (ngModelChange)="validateAmount()" [(ngModel)]='amount'>
    <div class="red-text" *ngIf="amountInvalid">Please enter the amount greater than $10.</div>
    <label *ngFor="let n of amounts">
      <input type="radio" name="pageSet" (click)="changeAmount(n)" ng-model="amount" ng-value="n" /> {{n}}
      &nbsp;&nbsp;&nbsp;&nbsp;
    </label>
    <!--<input type="range" id="myRange" [value]=(sliderValue) min="10" max="1000" step="10"
    #ref (change)="sliderChange(ref.value);" class="form-control">-->
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" [(ngModel)]='name' required>
  </div>
  <div class="form-group">
    <label for="Email">Email</label>
    <input type="text" class="form-control" name="email" [(ngModel)]='email' required>
  </div>
  <div class="form-group">
    <label for="Category">Category</label>
    <select class="form-control" #select multiple (change)="change($event.target.options)">
        <option *ngFor="let item of donationCategories" [value]="item.name" [id]="item.id">
          {{item.name}}
        </option>
      </select>
  </div>

  <button type="submit" class="btn btn-success" (click)='modal.open()'>Submit</button>
  <!-- <button type="button" class="btn btn-default" (click)="modal.open()">Open me!</button> -->
</form>

<div *ngIf="confirmation">
  <p><b>Thank you for your donation.</b></p>
  <share-buttons></share-buttons>
    <button type="submit" class="btn btn-success" (click)='reset()'>Go Back</button>
</div>



<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
        (onOpen)="opened()" [cssClass]="cssClass" #modal  >
    <modal-header [show-close]="true">
        <h4 class="modal-title">Confirm</h4>
    </modal-header>
    <modal-body>
        <p >Name: <b>{{name}}</b></p>
        <p >Email: <b>{{email}}</b></p>
        <p >Amount: <b>$ {{amount}}</b></p>
        <p >Category: <b>{{selectedValues}}</b></p>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" autofocus (click)="modal.close()">Confirm</button>
    </modal-footer>
</modal>
