<div class="w3-center">
  <ul class="w3-pagination">
    <li><a style="font-size:.8em;" routerLink='map' routerLinkActive='w3-grey'><i class="fa fa-map-o"></i> MAP</a></li>
    <li><a style="font-size:.8em;" routerLink='list' routerLinkActive='w3-grey'><i class="fa fa-list"></i> LIST</a></li>
  </ul>
</div>
<!--<div style="border: 1px dashed #000">-->
<div>
  <router-outlet></router-outlet>
</div>
