<div *ngIf="isAdmin">
<br><br>
<button class="btn btn-primary" (click)="toggleEditMode()">{{editText}}</button>
<button class="btn btn-warning" (click)="goBack()">Back</button>
</div>
<!--<button class="btn btn-warning" (click)="goBack()">Back</button>-->
<br>
<div *ngIf="!editMode && event">
  <h3>{{ event[0].name }}</h3>
  <b>Date:</b> {{event[0].startDate | date:'EEE, d MMM,y'}}<br>
  <b>Start Time:</b> {{event[0].startDate | date:'shortTime'}}<br>
  <b>End Time:</b> {{event[0].endDate | date:'shortTime'}}<br>
  <b>Description:</b> {{event[0].descr}}<br>
  <b>Address:</b> {{ event[0].street1 }} {{ event[0].street2 }}{{ event[0].city }} {{ event[0].state }} {{ event[0].zipCode }}
</div>

<div *ngIf="editMode"><br>
  <form #myForm="ngForm">
    <div>
      <input name="name" type="text" class="form-control" [(ngModel)]="event[0].name" placeholder="Event Name">
    </div>

    <br>

    <!--<input [ngModel]="dt | date:'yyyy-MM-dd'" (ngModelChange)="dt = $event" type="date" name="startDate"/>-->
    <!--<input name="date" type="text" [(ngModel)]="event[0].date" placeholder="Date"><br>-->
    <div>
      <input class="form-control" [ngModel]="dt | date:'yyyy-MM-dd'" (ngModelChange)="dt = $event" type="date" name="startDate"/>
    </div>

    <br>

    <div>
      <input class="form-control" name="sTime" type="time" [ngModel]="sTime" (ngModelChange)="sTime=$event">
    </div>

    <br>

    <div>
      <input class="form-control" name="eTime" type="time" [ngModel]="eTime" (ngModelChange)="eTime=$event">
    </div>

    <br>

    <div>
      <input name="description" type="text" class="form-control" [(ngModel)]="event[0].descr" placeholder="Description">
    </div>

    <br>

    <div>
      <input name="street1" type="text" class="form-control" [(ngModel)]="event[0].street1" placeholder="Street">
    </div>

    <br>

    <div>
      <input name="street2" type="text" class="form-control" [(ngModel)]="event[0].street2" placeholder="Street Line 2">
    </div>

    <br>

    <div>
      <input name="city" type="text" class="form-control" [(ngModel)]="event[0].city" placeholder="City">
    </div>

    <br>

    <div>
      <input name="state" type="text" class="form-control" [(ngModel)]="event[0].state" placeholder="State">
    </div>

    <br>

    <div>
      <input name="zipcode" type="text" class="form-control" [(ngModel)]="event[0].zipCode" placeholder="Zipcode">
    </div>

    <br>

    <input class="btn btn-success" type="submit" text="Create" (click)="createNewEvent()">
  </form><br><br>
  <div>
    <h3>List of Volunteers</h3>
    <ul><li *ngFor="let v of eventVols">{{v.name}} - {{v.email}}</li></ul>
  </div>
</div>

<br><br><br><br><br><br>

<div *ngIf="!editMode && !isAdmin">
  <label for="name">Name</label>
  <input type="text" class="form-control" name="name" [(ngModel)]='name' required><br>
  <label for="Email">Email</label>
  <input type="text" class="form-control" name="email" [(ngModel)]='email' required><br>
  <button type="submit" class="btn btn-success" (click)='modal.open()'>Sign Up</button>
  <button class="btn btn-warning" (click)="goBack()">Back</button>
  <share-buttons></share-buttons>
</div>


<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
        (onOpen)="opened()" [cssClass]="cssClass" #modal  >
    <modal-header [show-close]="true">
        <h4 class="modal-title">Confirm</h4>
    </modal-header>
    <modal-body>
      <h3 *ngIf='event'>Register for {{  event[0].name  }}</h3>
      <p >Name: <b>{{name}}</b></p>
      <p >Email: <b>{{email}}</b></p>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" autofocus (click)="modal.close()">Confirm</button>
    </modal-footer>
</modal>
