<div class="container">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email Address:</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="user.email" required name="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="user.password" required name="password">
      </div>
      <button type="submit" class="btn btn-success">Sign In</button>
      <button routerLink="signup" class="btn btn-success">Sign Up</button>
      <div [hidden]="!showError" class="alert alert-danger">
        Error: Username / Password combination not found
      </div>
    </form>
</div>

<link rel="stylesheet"
      href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">