<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>

		<link rel="manifest" href="manifest.json">

		<!-- un-comment this code to enable service worker
			 <script>
			 if ('serviceWorker' in navigator) {
			 navigator.serviceWorker.register('service-worker.js')
			 .then(() => console.log('service worker installed'))
			 .catch(err => console.log('Error', err));
			 }
			 </script>-->

		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
			 <link href="css/ionic.app.css" rel="stylesheet">
		   -->

		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>

		<!-- cordova script (this will be a 404 during development) -->
		<script src="cordova.js"></script>

		<!-- your app's js -->
		<script src="js/app.js"></script>
		<script src="js/volunteerController.js"></script>
		<script src="js/volunteerListCtrl.js"></script>
		<script src="js/volunteerMapCtrl.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/services.js"></script>
		<script src="js/class/event.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
	</head>
	<body ng-app="starter">
		<ion-side-menus>
			<ion-side-menu-content>
				<!-- Top header bar -->
				<ion-nav-bar class="bar-stable">
					<ion-nav-buttons side="left" >
						<button menu-toggle="left"  class="button button-icon icon ion-navicon"></button>
					</ion-nav-buttons>
          <ion-nav-title>{{ pageTitle }}</ion-nav-title>
				</ion-nav-bar>
				<!-- this is the main content! (das what doc says) -->
				<ion-nav-view></ion-nav-view>
			</ion-side-menu-content>

			<!-- Side menu configuration -->
			<ion-side-menu side="left">
				<!-- Header for the side menu -->
				<ion-header-bar class="bar-dark">
					<h1 class="title">Make</h1>
				</ion-header-bar>
				<!-- side menu content! -->
				<ion-content>
					<ion-nav-view name="left-menu"></ion-nav-view>
					<ion-list>
						<ion-item>Donate</ion-item>
					</ion-list>
					
				</ion-content>
			</ion-side-menu>
		</ion-side-menus>
	</body>
</html>
