<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Give" icon-off="ion-ios-email-outline" icon-on="ion-ios-email" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Volunteer" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/volunteer/list">
    <ion-nav-view name="tab-volunteer"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="MyWay" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
