<div ng-repeat="event in events" class="card">
	<div class="item item-divider">
		<span>{{ event.name }}</span>
		<span style="float:right">{{ event.date }}</span>
		</div>
	<div class="item item-text-wrap">
		{{event.startTime}} ~ {{ event.endTime }}<br>
		{{ event.description }}<br>
		@{{ event.location.address }} {{ event.location.city }} {{ event.location.state }} {{ event.location.zipcode}}
	</div>
</div>