<ion-view>
	<ion-nav-title>IONIC STUPID</ion-nav-title>
	<ion-content class="has-header padding">
		<div class="padding content">
			<div class="button-bar bar-light">
				<a class="button-small button" ui-sref="tab.volunteers.list">List</a>
				<a class="button-small button" ui-sref="tab.volunteers.map">Map</a>
			</div>
		</div>
		<div ui-view="volunteer-contents"></div>
	</ion-content>
</ion-view>
